.botonSecion{
    border-radius: 20px;
    border: 1px solid black;
}
footer{
    background-color: rgb(150, 145, 145);
}
.lineaBuscador{
    background-color: rgba(7, 7, 7, 0.562);
}
.clasecard {

    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
   
}
.cardStyle{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px ;
    margin-top: 40px;
    padding: 30px;
    border-radius: 30px;
}