.colorGeneral{
    background-color: rgb(37, 1, 37);
    color: white;
}
Nav{
    background-color: rgb(37, 1, 37);
    color: white;
}
.colorLetra{
    color: white;
    background-color: rgb(78, 4, 78);
    border: rgb(78, 4, 78) 1px solid;
}
.botonSecion{
    border-radius: 20px;
    border: 1px solid black;
}
footer{
    background-color: rgb(150, 145, 145);
}
.lineaBuscador{
    background-color: rgba(7, 7, 7, 0.096);
}
.clasecard {

    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    
   
}
.cardStyle{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px ;
    margin-top: 40px;
    padding: 30px;
    border-radius: 30px;
    
}
.acomodarSlider{
    width: 80%;
    display: flex;
    justify-content: center;
}
.colorLetraSlider{
    color: black;
    background-color: rgba(255, 255, 255, 0.311);
    border-radius: 5px;
}
.classSlider{
    justify-content: center;
}
